*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #C1FBD2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h4{
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}

#passwordOutput{
    border: none;
    padding: 8px 4px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    overflow: auto;
    width: 250px;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

#length{
    border: none;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    max-width: 60px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

button{
    margin-top: 20px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    background-color: #E7414C;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-right: 80px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    
}
.container-for-att{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button:hover{
    background-color: hsl(356, 78%, 48%);
}
button:active{
    background-color: hsl(356, 78%, 68%);
}

